:root {
  /* Colors */
  --primary-blue-300: #6d5dff;
  --primary-blue-500: #6200ea;
  --primary-blue-700: #3700b3;
  --primary-blue-800: #2f0f78;
  --interface-200: #DFDFDF;
  --interface-900: #1C1C1C;

  /* Margins & paddings & shadows */
  --border-radius: 20px;
  --gap: 8px;
  --shadow-1px: inset 0px 0px 0px 1px;
}
