.expertise {
  margin-top: 60px;
  background: linear-gradient(to bottom right, #6585F4, #9E00FF);
  padding: 40px 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: var(--border-radius);
}

.expertise img{
  width: 160px;
  height: auto;
  object-fit: fill;
}

@media (max-width: 869px) {
  .expertise {
    margin-top: 40px;
  }
  .expertise:first-child {
    margin-top: 60px;
  }
}
