.project {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--primary-blue-500);
  outline: 6px solid var(--primary-blue-500);
  cursor: pointer;
  min-height: 250px;
}

.project__overlay {
  padding: 20px;
  position: absolute;
  z-index: 30;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  white-space: normal;
  background-color: var(--primary-blue-500);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms;
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project__overlay--active {
  opacity: .9;
  cursor: default;
}

.project:hover .project__overlay {
  opacity: .9;
}

.project__name {
  font-size: 22px;
  margin-bottom: 20px;
}

.project__image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.project__info p {
  text-align: center;
}

.project__button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.project__description span {
  font-weight: 600;
  color: #e0e0e0;
  font-size: 18px;
}

@media (max-width: 1180px) {
  .project .item-heading {
    font-size: 20px;
  }
  .project--active .item-heading {
    font-size: 32px;
  }
}

@media (max-width: 729px) {
  .project {
    min-height: 180px;
  }
}

@media (max-width: 550px) {
  .project__info p {
    font-size: 14px;
  }
  .project__info span {
    font-size: 15px;
  }
  .project__overlay {
    padding: 8px;
  }
  .project--active .item-heading {
    font-size: 20px;
  }
}
