.project {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--primary-blue-500);
  outline: 6px solid var(--primary-blue-500);
  cursor: pointer;
  min-height: 250px;
}

.project__image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.project__description span {
  font-weight: 600;
  color: #e0e0e0;
  font-size: 18px;
}

@media (max-width: 1180px) {
  .project .item-heading {
    font-size: 20px;
  }
  .project--active .item-heading {
    font-size: 32px;
  }
}

@media (max-width: 729px) {
  .overlay-content {
    gap: 6px;
  }
  .project {
    min-height: 180px;
  }
}

@media (max-width: 550px) {
  .project__info p {
    font-size: 14px;
  }
  .project__info span {
    font-size: 15px;
  }
  .project__overlay {
    padding: 8px;
  }
  .project--active .item-heading {
    font-size: 20px;
  }
}
