.navbar--top {
  position: relative;
  width: 100%;
  height: 72px;
  background-color: var(--primary-blue-500);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px;
}

.navbar--top li {
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
}

.navbar__link--top {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  position: relative;
}

.navbar--top li:hover,
.navbar--top li:focus {
  color: #e0e0e0;
}

.navbar__link--active::after{
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
}

/* burger */
.navbar__burger {
  all: unset;
  display: none;
  cursor: pointer;
  margin-right: 16px;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}

.navbar__burger div {
  width: 24px;
  height: 3px;
  border-radius: 16px;
  background-color: white;
  margin: 3px 0;
  transition: opacity 0.1s ease, transform .6s ease;
}

@media (max-width: 729px) {
  .navbar--top li {
    padding: 10px 4PX;
  }
}
/* burger menu on smaller screens */
@media screen and (max-width: 500px) {
  .navbar--top {
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }
  .nav-links {
    align-items: flex-end;
    position: absolute;
    top: 72px;
    text-align: center;
    background-color: var(--primary-blue-500);
    border-bottom-left-radius: var(--border-radius);
  }
  
  .navbar__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*X state when open */
  .navbar__burger--cross div:nth-child(1) {
    width: 26px;
    transform: rotate(45deg) translate(6px, 6px);
  }

  .navbar__burger--cross div:nth-child(2) {
    opacity: 0;
  }

  .navbar__burger--cross div:nth-child(3) {
    width: 26px;
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .nav-links--close {
    display: none;
  }

  .nav-links--open {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
