body {
  background-color: var(--interface-900);
  color: var(--interface-200);
  overflow-x: hidden;
}

.main-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 5%;
}

.section-heading {
  text-align: center;
  color: var(--primary-blue-500);
  margin-bottom: 40px;
}

.section-description {
  padding: 0 20%;
}

.item-heading {
  font-family: "Coda", system-ui;
  font-weight: 400;
  font-size: 28px;
}

@media (max-width: 869px) {
  .section-description {
    padding: unset;
  }
}
